@charset "utf-8";
* {margin: 0; padding: 0; box-sizing: border-box;}
ul {list-style: none;}
a {color: inherit;}
html, body {height: 100%;}

/* header */
#header {padding-inline: 1.25rem 2.5rem; color: #484848; font-size: 14px;}
.header_grid {display: grid; grid-column-gap: 1.25rem; grid-template-columns: repeat(13, minmax(0, 1fr));}
#header_first {display: flex; flex-direction: row; justify-content: space-between;}
#header_first i {text-align: center; }
#header_first img {width: 90px; padding-top: 40px; padding-bottom: 20px;}
#header_second ul {display: flex; flex-direction: row;}
#header_first, #header_second {grid-column: 2/14; grid-row: 1;}
#header_login, #header_cart {margin: auto; margin-left: 30px;}
#header a {text-decoration: none;}
#header_second li {margin-right: 30px; font-weight: bold; margin-bottom: 6px;}
#header_second {border-bottom: 0.5px solid #eee;}

/* index.html */
#section {padding-inline: 1.25rem 2.5rem; color: #484848; font-size: 14px;}
#banner {grid-column: 2/14; margin-top: 50px; display: flex; width: 100%; margin-bottom: 4rem;}
#banner .image_wrapper {width: 66%;}
#banner img {width: 100%; overflow-clip-margin: content-box; overflow: clip; display: block;}
#banner div:nth-child(2) {background-color: rgb(247, 130, 34); padding: 3rem; width: 33%; flex: 1 1 auto;}
#banner h1 {color: rgb(17,17,17); font-weight: bold; word-break: break-word; margin-bottom: 0.5rem; font-size: 1.5rem; line-height: 1.45; letter-spacing: -0.0042em;}
#banner p {color: #111; margin-bottom: 2rem;}
#banner button {cursor: pointer; border-radius: 64px; background-color: #111; height: 40px; color: white; border: 0px; padding: 0 24px;}
#banner button:hover {background-color: #222;}
#idea {grid-column: 2/14;}
#idea h1 {color: rgb(17,17,17); font-weight: bold; word-break: break-word; margin-bottom: 0.5rem; font-size: 1.5rem; line-height: 1.45; letter-spacing: -0.0042em;}
#idea div ul {display: flex;}
#idea div ul li {width: 100px; height: 40px; border-radius: 20px; text-align: center; line-height: 40px; background-color: #f5f5f5; font-size: 13px; font-weight: bold; margin-right: 15px; cursor: pointer;}
#idea div ul li:hover {background-color: #dfdfdf;}

/* login.html */
#login_container {height: 100%; display: flex; position: relative;}

#login_container .left_container {width: 40%; padding: 2rem 5rem; background-color: rgb(0, 88, 163); color: white; align-items: center; display: flex; flex-direction: column; justify-content: space-between;}
#login_container .left_container .logo {width: 24rem; display: flex; align-items: center; justify-content: flex-start;}
#login_container .left_container .logo a {display: block; position: absolute; left: 30px; font-size: 20px;}
#login_container .left_container .logo img {display: block; width: 5.5rem; height: 2.75rem;}
#login_container .left_container .left_main {width: 25rem;}
#login_container .left_container .left_main h1 {color: #fbd914; font-size: 32px; letter-spacing: -.04rem;}
#login_container .left_container .left_main p {font-size: 14px; padding-top: 14px; line-height: 20px;}
#login_container .left_container .copyright {width: 25rem; font-size: 11px;}

#login_container .right_container {padding: 2rem 5rem; flex: 1 1 auto; align-items: flex-start; display: flex; flex-direction: column; justify-content: center;}
#login_container .right_container .copyright {display: none; font-size: 11px; color: #484848;}

#login_form_container {padding: 1rem 0rem; width: 28rem;}
#login_form_container label {display: block; margin: 0 0 0.125rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: .875rem; line-height: 1.571; color: #484848;}
#login_form_container input {border: 1px solid rgb(146, 146, 146); border-radius: 4px; width: 100%; height: 3rem; color: rgb(17,17,17); font-size: 1rem; line-height: 1.5; overflow: hidden; padding-inline-end: 0.5rem; padding-inline-start: 0.5rem;}
#login_form_container input:focus {outline: none !important; border: 2px solid #0058a3;}
#login_form_container .warning {color: #e00751; margin-top: 0.25rem; font-size: 0.75rem; line-height: 1.5; display: none;}
#login_form_container .space {height: 24px; width: 100%;}
#login_form_container button {width: 100%; border-radius: 64px; font-size: .875rem; font-weight: 700; height: 3.5rem; cursor: pointer;}
#login_form_container > form > button {background: #0058a3; border: 0; color: #fff;}
#login_form_container > form > button:hover {background: #004f93;}
#login_form_container > form > a > button {border: 1px solid rgb(17,17,17); background: #fff;}
#login_form_container > form > a > button:hover {border: 2px solid rgb(17,17,17);}
#login_form_container h2 {font-size: 0.9rem; color: rgb(72, 72, 72); font-weight: bold; letter-spacing: -.0042rem; margin: 1.5rem 0; color: #484848; text-align: center;}

/* join.html */
#join_container {min-height: 100%; display: flex; position: relative;}

#join_container .left_container {width: 40%; padding: 2rem 5rem; align-items: center; display: flex; flex-direction: column; justify-content: space-between;}
#join_container .left_container .section {width: 310px;}
#join_container .left_container .section .logo {align-items: center; display: flex;}
#join_container .left_container .section .logo a {display: block; position: absolute; left: 30px; font-size: 20px;}
#join_container .left_container .section .logo img {display: block; height: 36px; width: 90px;}
#join_container .left_container .section .main {margin-top: 4rem;}
#join_container .left_container .section .main h1 {font-size: 31px; letter-spacing: -0.04rem; margin-block-end: 0;}
#join_container .left_container .section .main h1 span {color: #0058a3;}
#join_container .left_container .section .main > span {display: block; font-size: 14px; line-height: 20px; margin-top: 16px;}
#join_container .left_container .section .main .pics {display: flex; margin: 3rem 0;}
#join_container .left_container .section .main .pics .pics_left {width: 50%;}
#join_container .left_container .section .main .pics .pics_left div {background-repeat: no-repeat; width: 100%; background-position: center center; background-size: cover; border-radius: 4px; margin-bottom: 0.4rem; height: 16rem;}
#join_container .left_container .section .main .pics .pics_left div:nth-child(1) {background-image: url(../Images/SIGNUP_IMAGES_1.jpg);}
#join_container .left_container .section .main .pics .pics_left div:nth-child(2) {background-image: url(../Images/SIGNUP_IMAGES_2.jpg);}
#join_container .left_container .section .main .pics .pics_right {width: 50%; margin-left: 0.4rem;}
#join_container .left_container .section .main .pics .pics_right div {background-repeat: no-repeat; width: 100%; background-position: center center; background-size: cover; border-radius: 4px; margin-bottom: 0.4rem; height: 12rem;
}
#join_container .left_container .section .main .pics .pics_right div:nth-child(1) {background-image: url(../Images/SIGNUP_IMAGES_5.jpg);}
#join_container .left_container .section .main .pics .pics_right div:nth-child(2) {background-image: url(../Images/SIGNUP_IMAGES_6.jpg);}
#join_container .left_container .section .main .pics .pics_right div:nth-child(3) {background-image: url(../Images/SIGNUP_IMAGES_7.jpg);}
#join_container .left_container .copyright {width: 100%; font-size: 11px; text-align: left;}

#join_container .pic {display: none;}

#join_container .right_container {padding: 2rem 5rem; flex: 1 1 auto; display: flex; flex-direction: column; justify-content: center;}
#join_container .right_container .reward {width: 28rem; font-size: 14px; color: #484848; margin-top: 6rem;}
#join_container .right_container .copyright {font-size: 11px; display: none;}

#join_form_container {width: 28rem; margin-top: 4rem; margin-bottom: 4rem;}
#join_form_container label {display: block; margin: 0 0 0.125rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: .875rem; line-height: 1.571; color: #484848;}
#join_form_container input {border: 1px solid rgb(146, 146, 146); border-radius: 4px; width: 100%; height: 3rem; color: rgb(17,17,17); font-size: 1rem; line-height: 1.5; overflow: hidden; padding-inline-end: 0.5rem; padding-inline-start: 0.5rem;}
#join_form_container input:focus {outline: none !important; border: 2px solid #0058a3;}
#join_form_container .warning {color: #e00751; margin-top: 0.25rem; font-size: 0.75rem; line-height: 1.5; display: none;}
#join_form_container .space {height: 24px; width: 100%;}
#join_form_container button {width: 100%; border-radius: 64px; font-size: .875rem; font-weight: 700; height: 3.5rem; cursor: pointer; background: #111; color: #fff;}
#join_form_container button:hover {background: #333;}

/* rooms.html, gallery.html, detail.html */
#section {height: auto;}
#section .grid {padding-inline-start: 1.25rem; padding-inline-end: 2.5rem; display: grid; grid-column-gap: 1.25rem; grid-template-columns: repeat(13,minmax(0,1fr));}
#section .grid > div h1 {display: block; font-weight: bold; word-break: break-word;font-size: 2.25rem; line-height: 1.333; letter-spacing: -0.0063em; color: rgb(17, 17, 17); margin-bottom: 1.25rem; width: calc(7 / 12 * (100% - (11 * 1.25rem)) + (6 * 1.25rem));}
#section .grid > div p {display: block; width: calc(7 / 12 * (100% - (11 * 1.25rem)) + (6 * 1.25rem)); margin-bottom: 1.25rem; font-size: 1rem; line-height: 1.625; font-style: normal; font-weight: normal; word-break: break-word; color: rgb(72, 72, 72);}
#section .grid > div {grid-column: 2 / 14;}
#section nav {margin-bottom: 2.5rem;}
#section nav ol {list-style-type: none; display: inline-block; width: 100%; padding: 0.75rem 0 1rem;}
#section nav ol li {max-width: 100%; display: inline; text-decoration: none; font-size: .75rem; line-height: 1.5; font-weight: 400; color: rgb(17, 17, 17);}

#section nav a {text-decoration: none;}
#section nav a:hover {text-decoration-line: underline;}
#section nav ol li::after {content: "›"; display: inline; font-size: 1rem; margin: 0px 0.25rem;}
#section nav ol li:last-child::after {content: ""}

#rooms_container {display: flex; flex-wrap: wrap; margin: calc(1.25rem / 2 * -1);}
#rooms_container > div {display: flex; flex-grow: 0; margin: calc(1.25rem / 2); width: 100%; flex-basis: calc(33.33% - 1.25rem);}
#rooms_container > div > div {flex: 1;}
#rooms_container > div > div > a {height: 100%; display: flex; flex-direction: column; text-decoration: none;}
#rooms_container > div > div > a:hover {text-decoration: underline;}
#rooms_container > div > div > a .card_img {flex-basis: auto; max-width: 100%; order: 0; flex-shrink: 0;}
#rooms_container > div > div > a .card_img span {width: 100%; position: relative; height: auto; display: block; padding-bottom: 75%; box-sizing: border-box;}
#rooms_container > div > div > a .card_img span img {object-fit: cover; display: block; max-width: 100%; height: 100%; position: absolute; left: 0; top: 0; color: transparent;}
#rooms_container > div > div > a .card_info {padding: 1.5rem;}
#rooms_container > div > div > a .card_info h2 {display: block; max-width: 30rem; font-size: 1.125em; margin-block-start: 0.83em; margin-block-end: 0.83em; font-weight: bold; line-height: 1.444; margin-top: 0.5rem; letter-spacing: -0.0042em;}
#rooms_container > div > div > a .card_info i {padding: 0 0.5rem;}

/* detail.html */
#detail_contents > div {margin-bottom: 4rem; border-bottom: 1px solid rgb(223, 223, 223); height: auto;}
#detail_contents > div:nth-child(odd) .detail_info {display: block; grid-column: 1/span 4; width: initial;}
#detail_contents > div:nth-child(odd) .detail_pic {grid-column: 7/span 6; grid-row: 1;}
#main_pic span {padding-bottom: 56.25%; width: 100%; position: relative; height: auto; display: block; box-sizing: border-box;}
#main_pic img {object-fit: cover; width: 100%; height: 100%; position: absolute; left: 0; top: 0;}
#detail_contents .detail_grid {display: grid; grid-column-gap: 1.25rem; grid-template-columns: repeat(12, minmax(0, 1fr));}
#detail_contents .detail_grid .detail_info {grid-column: 8/span 4; width: initial;}
#detail_contents .detail_grid .detail_pic {grid-column: 1/span 6; grid-row: 1; position: relative;}
#detail_contents .detail_grid .detail_pic > div > span {width: 100%; height: 100%; padding-bottom: 133.3333%; box-sizing: border-box; position: relative; display: block;}
#detail_contents .detail_grid .detail_pic > div > span > img {object-fit: cover; width: 100%; height: 100%; position: absolute; left: 0; top: 0;}
.detail_info h2 {font-weight: bold; word-break: break-word; display: block; font-size: 1.5rem; line-height: 1.45; letter-spacing: -0.0042em; color: #111; margin-bottom: 0.5rem;}
#detail_contents .detail_info p {width: 100%!important; margin: 0!important; font-size: .875rem!important; min-height: 100%; line-height: 1.571!important; word-wrap: break-word; letter-spacing: -0.0042em;}
.detail_pic li {position: absolute; top: 0;}
.detail_pic li a {text-decoration: none;}
.detail_pic li > div > a > div {display: flex; flex-direction: row; transition: transform 250ms ease-in-out; justify-content: space-between; width: 100%;text-align: initial;text-decoration: none;color: rgb(17, 17, 17);background-color: rgb(255, 255, 255);box-shadow: 0 1px 4px rgba(17, 17, 17, 0.55); min-width: 8.4375rem; max-width: 11.25rem;}
.detail_pic li > div > a > div > div {margin: 0.75rem; flex-grow: 1; display: flex; flex-direction: column;}
.detail_pic li > div > a > div > div h3 {margin-bottom: 0.5rem; color: rgb(17, 17, 17); font-size: 1rem; line-height: 1.5; font-weight: 700;}
.detail_pic li > div > a > div span {display: block;}
.image_dot { width: 2rem; height: 2rem; border: 2px solid transparent; position: absolute; background: rgba(17, 17, 17, 0.2); opacity: 1; visibility: visible; border-radius: 64px; line-height: .5; display: flex; align-items: center; justify-content: center;}
.image_dot::after  {content: ""; transition: transform 250ms ease-in-out; position: relative; display: block; background: rgb(255, 255, 255); box-shadow: 0 1px 4px rgba(var17, 17, 17, 0.55); width: 0.75rem; height: 0.75rem; border-radius: 64px;}
.image_dot:hover {transition: border-color 250ms ease-in-out; border-color: #555;}
.image_dot:hover + div {display: block!important;}

/* prd_detail.html */
#prd_left {grid-column: 3 / span 5; margin-top: 100px;}
#prd_left img {width: 100%; border: 1px solid #ccc; border-radius: 5px; margin-bottom: 10px;}
#prd_left div p:nth-child(1) {font-size: 20px; color: #484848; margin-bottom: 40px;}
#prd_left div p:nth-child(2) {font-size: 15px; margin-bottom: 80px;}
#prd_left div p:nth-child(2) span {background-color: #111; padding: 0 15px; color: white; font-weight: bold; margin-top: 8px; display: flex; width: 110px; justify-content: center;}
#prd_right {grid-column: 8 / 12; padding: 0 2.5rem; margin-top: 100px;}
#prd_info_box > h1 {color: #111; font-size: 16px; margin-bottom: 6px;}
#prd_info_box p {color: #484848; font-size: 16px;  margin-bottom: 15px;}
#prd_info_box > span {color: #111; font-size: 28px; font-weight: bold;}
#prd_buttons {margin-top: 30px;}
#prd_info_box > div {margin-top: 30px;}
#prd_info_box > div p {display: block; font-size: 14px; color: #111; font-weight: bold; margin-bottom: 10px;}
#prd_info_box > div span {display: block; font-size: 14px; color: #111; margin-bottom: 15px;}
#prd_info_box > div img {display: inline-block; margin: 10px; border-radius: 3px;}
#prd_info_box .picked_color_img {display: flex; flex-wrap: wrap;}
#prd_info_box {border: 1px solid #ccc; border-radius: 5px; padding: 30px 20px;}

#prd_qty_form {display: flex; width: 40%; height: 56px; border: 1px solid #aaa; text-align: center; border-radius: 30px;}
#prd_qty_form button {width: 40px; height: 40px; border-radius: 30px; margin: auto; border: 0; background-color: transparent; font-weight: bold; text-align: center; font-size: 28px; vertical-align: middle; cursor: pointer;}
#prd_qty_form button:hover {background-color: #eee;}
#prd_qty_form button:active {background-color: #aaa;}
#prd_qty_form input {width: 27px; height: 100%; font-size: 15px; text-align: center; font-weight: bold; border: 0;}
#prd_qty_form input:focus {outline:0;}
#prd_buttons {display: flex; flex-direction: row; width: 100%; justify-content: space-between;}
#prd_buttons > button {width: 55%; height: 56px; border: 1px solid #aaa; text-align: center; border-radius: 30px; background-color: #0058a3; cursor: pointer; color: white; font-size: 16px; font-weight: bold;}
.picked_color_img img.selected {border: 2px solid rgb(192, 189, 189); border-radius:10px;}

/* all_prd.html */
#all_prd {grid-column: 2 / 14;}
#all_prd h1 {font-size: 36px; color: #111; margin: 25px 0;}
#all_prd .paragraph {width: calc(7 / 12 * (100% - (11 * 1.25rem)) + (6 * 1.25rem)); margin-bottom: 30px;}
#all_prd_nav {position: relative;}
#all_prd_nav .all_prd_nav_list {display: flex;}
#all_prd_nav .all_prd_nav_list button {padding: 10px 0; width: 100px; margin-bottom: 20px; background-color: #f5f5f5; margin-right: 15px; text-align: center; font-weight: bold; font-size: 14px; border-radius: 50px; border:none; cursor: pointer; border:1px solid transparent; }
#all_prd_nav .all_prd_nav_list button.active { border:1px solid #000; }
#all_prd_nav .all_prd_nav_list button i {margin-left: 10px;}
#all_prd_nav {border-bottom: 1px solid #aaa;}
#all_prd_nav #all_prd_nav_catlist { border:1px solid rgb(223, 223, 223); background:#fff; width:300px; max-height:450px; overflow-y: auto;
    padding:32px; border-radius: 12px; position:absolute; top:55px; left:0; z-index:100; display:none;
  } 
  #all_prd_nav #all_prd_nav_catlist ul li { padding:8px; font-size: 14px; font-weight:bold; line-height: 40px; }
  #all_prd_nav #all_prd_nav_catlist a { text-decoration: none;}
  #all_prd_nav #all_prd_nav_pricelist { border:1px solid rgb(223, 223, 223); background:#fff; width:250px; max-height:450px; overflow-y: auto;
    padding:32px; border-radius: 12px; position:absolute; top:55px; left:115px; z-index:100; display:none;
  } 
  #all_prd_nav #all_prd_nav_pricelist ul li { padding:8px; font-size: 14px; font-weight:bold; line-height: 40px; }
#all_container {display: grid; column-gap: 2.5rem; grid-template-columns: repeat(4, minmax(0, 1fr)); margin: 40px 0;}
#all_container .one_container {margin-top: 1rem;; padding-bottom: 40px; border-bottom: 0.5px solid #aaa;}
#all_container .one_container:hover {border-bottom: 2px solid #555;}
#all_container .one_img img {object-fit: cover; width: 100%; height: 100%;}
#all_container .one_img img:hover {transform: scale(1.05); transition: all 0.5;}
#all_container .one_container {font-size: 14px; color: #111;}
#all_container .one_container .one_info p:nth-of-type(1) {color: #484848; margin-bottom: 16px;}
#all_container .one_container .one_info p:nth-of-type(2) {font-size: 22px; color: #111; font-weight: bold; margin-bottom: 10px;}
#all_container .one_container > div button {margin-top: 10px; background-color: #0058a3; width: 40px; height: 40px; border-radius: 50%; border: none; cursor: pointer;}
#all_container .one_container > div i {color: white; font-size: 18px;}
#all_container .one_container > div button:active {background-color: #00437d;}

/* cart.html */
#cart_status, #cart_contents {grid-column: 2 / 14;}
#cart_status {margin: 40px 0;}
#cart_status h1 {color: #111; font-size: 36px;}
#cart_login {border: 1px solid #dfdfdf; padding: 32px 20px; border-radius: 5px;}
#cart_login h2 {color: #111;}
#cart_left {grid-column: 2 / span 7; margin-top: 50px;}
#cart_left h1 {font-size: 36px; color: #111; margin-bottom: 10px; }
#cart_left .delete_button {width: auto; height: auto; border: none; background-color: transparent; cursor: pointer; color: #0058a3;}
#cart_left .delete_button:active {color: black;}
#cart_left .delete_button i {line-height: 15px; font-size: 15px;}
.cart_one_prd {display: flex; flex-direction: row; padding: 2rem 0; border-bottom: 1px solid #aaa;}
.cart_one_prd div:nth-child(1) {padding: 20px;}
.cart_one_prd div:nth-child(2) ul li {margin: 2px 0;}
.cart_one_prd div:nth-child(2) ul li:nth-child(1) {color: #484848; font-size: 16px; font-weight: bold;}
.cart_one_prd div:nth-child(3) {text-align: right;}
#cart_left img {width: 140px; height: 140px; object-fit: cover;}
#cart_right {grid-column: 10 / 14; margin-top: 50px; height: 40%; position: sticky; top: 50px;}
#cart_qty_form {padding: 0; }
#cart_qty_form button {width: 25px; height: 25px; border-radius: 50%; border: none; font-weight: bold; margin-top: 50px; margin-bottom: 20px;}
#cart_qty_form button:active {background-color: #aaa;}
#cart_qty_form input {width: 30px; text-align: center;}
#cart_right h2 {color: #111; margin-bottom: 20px; font-size: 30px;}
#cart_right .order_prd {justify-content: space-between; display: flex; margin-bottom: 3px;}
#cart_right .order_prd span:nth-child(1) {font-weight: bold;}
#cart_right .cart_space {height: 30px; border-bottom: 2px solid black;}
#cart_right .total_container {margin-top: 30px; justify-content: space-between; display: flex; line-height: 30px;}
#cart_right .total_container span {line-height: 30  px;}
#cart_right .total_container span:nth-child(1) {font-weight: bold; color: #111;}
#cart_right .total_container span:nth-child(2) {font-size: 20px; font-weight: bold; color: black;}
#cart_right div:last-of-type button {width: 100%; margin-top: 30px; padding: auto; height: 100px; background-color: #0058a3; border-radius: 4px; border: none; color: white; font-weight: bold; font-size: 20px; cursor: pointer;}
#cart_right div:last-of-type button:active {background-color: #00437d;}
.cart_one_prd > div:nth-of-type(2) {margin-left: 50px; }